# Virtual environment
newenv/
venv

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Exp_6 - Fire Smoke CNN
Exp_6/dataset/
Exp_6/fire_smoke.env/
