# Virtual environment
newenv/
venv

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Exp_6 - Fire Smoke CNN
Exp_6/dataset/
Exp_6/fire_smoke.env/

# Exp_7 - Transfer Learning
Exp_7/.venv/
Exp_7/venv/
Exp_7/env/
Exp_7/__pycache__/
Exp_7/.vscode/
Exp_7/saved_models/
Exp_7/*.pth
Exp_7/*.pt
